In [1]:
import pandas as pd

In [44]:
df = pd.read_csv("auto-mpg .csv")

In [45]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,CAR Number
0,18,8,307.0,130,3504,12.0,70.0,1,chevrolet chevelle malibu,L6V 043
1,15,8,350.0,165,3693,11.5,70.0,1,buick skylark 320,RTY079
2,18,8,318.0,150,3436,11.0,70.0,1,plymouth satellite,MTP600
3,16,8,304.0,150,3433,12.0,70.0,1,amc rebel sst,MNJ000
4,17,8,302.0,140,3449,10.5,70.0,1,ford torino,JEETMEET
...,...,...,...,...,...,...,...,...,...,...
93,14,8,318.0,150,4237,14.5,73.0,1,plymouth fury gran sedan,FGTEE4
94,13,8,440.0,215,4735,11.0,73.0,1,chrysler new yorker brougham,GTTYR6
95,12,8,455.0,225,4951,11.0,73.0,1,buick electra 225 custom,TTGGT53
96,13,8,360.0,175,3821,11.0,73.0,1,amc ambassador brougham,TGTYY67
97,18,6,225.0,105,3121,16.5,73.0,1,plymouth valiant,HUYT76

In [46]:
#df['origin'].drop('origin')
df.drop('origin', axis=1, inplace=True)

In [53]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,car name,CAR Number
0,18,8,307.0,130,3504,12.0,70.0,chevrolet chevelle malibu,L6V 043
1,15,8,350.0,165,3693,11.5,70.0,buick skylark 320,RTY079
2,18,8,318.0,150,3436,11.0,70.0,plymouth satellite,MTP600
3,16,8,304.0,150,3433,12.0,70.0,amc rebel sst,MNJ000
4,17,8,302.0,140,3449,10.5,70.0,ford torino,JEETMEET
...,...,...,...,...,...,...,...,...,...
93,14,8,318.0,150,4237,14.5,73.0,plymouth fury gran sedan,FGTEE4
94,13,8,440.0,215,4735,11.0,73.0,chrysler new yorker brougham,GTTYR6
95,12,8,455.0,225,4951,11.0,73.0,buick electra 225 custom,TTGGT53
96,13,8,360.0,175,3821,11.0,73.0,amc ambassador brougham,TGTYY67
97,18,6,225.0,105,3121,16.5,73.0,plymouth valiant,HUYT76

In [54]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    2
model year      2
car name        0
CAR Number      7
dtype: int64

In [55]:
df.head(30)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,car name,CAR Number
0,18,8,307.0,130,3504,12.0,70.0,chevrolet chevelle malibu,L6V 043
1,15,8,350.0,165,3693,11.5,70.0,buick skylark 320,RTY079
2,18,8,318.0,150,3436,11.0,70.0,plymouth satellite,MTP600
3,16,8,304.0,150,3433,12.0,70.0,amc rebel sst,MNJ000
4,17,8,302.0,140,3449,10.5,70.0,ford torino,JEETMEET
5,15,8,429.0,198,4341,10.0,70.0,ford galaxie 500,NEET090
6,14,8,454.0,220,4354,9.0,70.0,chevrolet impala,NEET098
7,14,8,440.0,215,4312,8.5,70.0,plymouth fury iii,MNOP56
8,14,8,455.0,225,4425,10.0,70.0,pontiac catalina,NMTL580
9,15,8,390.0,190,3850,8.5,70.0,amc ambassador dpl,NaN
10,15,8,383.0,170,3563,10.0,70.0,dodge challenger se,TN5678
11,14,8,340.0,160,3609,8.0,70.0,plymouth 'cuda 340,TN5679
12,15,8,400.0,150,3761,9.5,70.0,chevrolet monte carlo,FTGN89
13,14,8,455.0,225,3086,10.0,70.0,buick estate wagon (sw),YUTN78
14,24,4,113.0,95,2372,15.0,70.0,toyota corona mark ii,RSTNU8
15,22,6,198.0,95,2833,15.5,70.0,plymouth duster,LOPS984
16,18,6,199.0,97,2774,15.5,70.0,amc hornet,THUK78
17,15,8,383.0,170,3563,10.0,70.0,dodge challenger se,TN5678
18,27,4,97.0,88,2130,14.5,70.0,datsun pl510,JNOP879
19,26,4,97.0,46,1835,20.5,70.0,volkswagen 1131 deluxe sedan,RHUSJ948
20,25,4,110.0,87,2672,17.5,70.0,peugeot 504,JIU5690
21,24,4,107.0,90,2430,NaN,70.0,audi 100 ls,JH5673R
22,25,4,104.0,95,2375,17.5,70.0,saab 99e,HY683H7
23,26,4,121.0,113,2234,12.5,70.0,bmw 2002,JHGTF467
24,21,6,199.0,90,2648,15.0,70.0,amc gremlin,HGTR324
25,10,8,360.0,215,4615,14.0,70.0,ford f250,BHG5678
26,10,8,307.0,200,4376,15.0,70.0,chevy c20,NaN
27,11,8,318.0,210,4382,13.5,70.0,dodge d200,HG4679
28,9,8,304.0,193,4732,18.5,70.0,hi 1200d,IUHU63G
29,27,4,97.0,88,2130,14.5,71.0,datsun pl510,NaN

In [52]:
df2= df1.dropna(subset = ['CAR Number'], axis=0)

In [43]:
df.head(30)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,car name,CAR Number
0,18,8,307.0,130,3504,12,70.0,chevrolet chevelle malibu,L6V 043
1,15,8,350.0,165,3693,11.5,70.0,buick skylark 320,RTY079
2,18,8,318.0,150,3436,11,70.0,plymouth satellite,MTP600
3,16,8,304.0,150,3433,12,70.0,amc rebel sst,MNJ000
4,17,8,302.0,140,3449,10.5,70.0,ford torino,JEETMEET
5,15,8,429.0,198,4341,10,70.0,ford galaxie 500,NEET090
6,14,8,454.0,220,4354,9,70.0,chevrolet impala,NEET098
7,14,8,440.0,215,4312,8.5,70.0,plymouth fury iii,MNOP56
8,14,8,455.0,225,4425,10,70.0,pontiac catalina,NMTL580
9,15,8,390.0,190,3850,8.5,70.0,amc ambassador dpl,NaN
10,15,8,383.0,170,3563,10,70.0,dodge challenger se,TN5678
11,14,8,340.0,160,3609,8,70.0,plymouth 'cuda 340,TN5679
12,15,8,400.0,150,3761,9.5,70.0,chevrolet monte carlo,FTGN89
13,14,8,455.0,225,3086,10,70.0,buick estate wagon (sw),YUTN78
14,24,4,113.0,95,2372,15,70.0,toyota corona mark ii,RSTNU8
15,22,6,198.0,95,2833,15.5,70.0,plymouth duster,LOPS984
16,18,6,199.0,97,2774,15.5,70.0,amc hornet,THUK78
17,15,8,383.0,170,3563,10,70.0,dodge challenger se,TN5678
18,27,4,97.0,88,2130,14.5,70.0,datsun pl510,JNOP879
19,26,4,97.0,46,1835,20.5,70.0,volkswagen 1131 deluxe sedan,RHUSJ948
20,25,4,110.0,87,2672,17.5,70.0,peugeot 504,JIU5690
21,24,4,107.0,90,2430,<bound method Series.mode of 0 12\n1 ...,70.0,audi 100 ls,JH5673R
22,25,4,104.0,95,2375,17.5,70.0,saab 99e,HY683H7
23,26,4,121.0,113,2234,12.5,70.0,bmw 2002,JHGTF467
24,21,6,199.0,90,2648,15,70.0,amc gremlin,HGTR324
25,10,8,360.0,215,4615,14,70.0,ford f250,BHG5678
26,10,8,307.0,200,4376,15,70.0,chevy c20,NaN
27,11,8,318.0,210,4382,13.5,70.0,dodge d200,HG4679
28,9,8,304.0,193,4732,18.5,70.0,hi 1200d,IUHU63G
29,27,4,97.0,88,2130,14.5,71.0,datsun pl510,NaN